body {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	background-color: #F0F8FF;
	}
	
#top-bar {
	font-size: 120%;
	margin: 0px;
	padding: 5px 0px 5px 10px;
	background-color: black;
	color: white;
	}
	
#search-bar {
	width: 100%;
	height: 70px;
	background-color: #EEEEEE;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
	}
	
#search-bar span {
	font-family: Palatino, Lucida, "Times New Roman";
	letter-spacing: 0px;
	font-size: 200%;
	margin: 0px 14px 0px 14px;
	line-height: 60px;
	color: green;
	display: inline;
	}
	
#search-bar form {	
	display: inline;
	}
	
#search-bar input[type="text"] {
	font-size: 120%;
	width: 400px;
	margin: 0px 20px 0px 0px;
	padding: 2px 4px 2px 4px;
	border-radius: 0px;
	border: 1px solid silver;
	}

#search-bar input[type="submit"] {
	width: 80px;
	padding: 2px 4px 2px 4px;
	font-size: 120%;
	background-color: #0099CC;
	color: white;
	border-radius: 0px;
	border: 0px;
	}

hr {
	color: #FFFFFF;
	}
	
.form-card {
	margin: 20px 180px 20px 180px;
	padding: 0px 0px 20px 20px;
	border: 1px solid #BBBBBB;
	background-color: #EEFFEE;
	}
	
h2 {
	}
  
table {
	border: 1px solid #AAAAAA;
	border-collapse: collapse;
	background-color: #DDEEEE;
	}
  
th {
	padding: 2px 0px 2px 0px;
	border: 1px solid #AAAAAA;
	}

td {
	padding: 2px 8px 2px 8px;
	border: 1px solid #AAAAAA;
	}

#bottom-bar {
	position: fixed;
	width: 100%;
	height: 16px;
	left: 0%;
	top: 100%;
	margin-left: 0px;
	margin-top: -16px;
	background-color: #CCEEEE;
	border-top: 1px solid #BBBBBB;
	}
	
