body {
	font-size: 16px;
	}

h1 {
	font-size: 250%;
	margin: auto;
	text-align: center;
	}

table {
	border: 1px solid black;
	border-collapse: collapse;
	}

th {
	border: 1px solid black;
	}

td {
	border: 1px solid black;
	}

form {
	margin: auto;
	}
	
#search-center {
	position: absolute;
	width: 600px;
	height: 400px;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -200px;
	}
	
#form-center {
	padding: 50px 0px 0px 0px;
	text-align: center;
	}

#search-bar input[type="text"] {
	font-size: 120%;
	width: 400px;
	margin: 0px 20px 0px 0px;
	padding: 2px 4px 2px 4px;
	border-radius: 0px;
	border: 1px solid silver;
	display: block;
	}
		
#form-center input[type="submit"] {
	width: 80px;
	padding: 2px 4px 2px 4px;
	font-size: 120%;
	background-color: #0099CC;
	color: white;
	border-radius: 0px;
	border: 0px;
	display: block;
	}
	
